@import url(../../01-ENTRAINEMENT/CSS/reset.css);

html, body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 750px;
    height: 370px;
    margin: 50px auto;
    border: 1px solid #000000;
    border-radius: 0.75rem;
}

.entete {
    font-size: 1.25rem;
    text-align: center;
}

.nbres__photocopies {
    padding: 0 30px 20px 30px;
}

.nb__photocopie {
    width: 70px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.calcul {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    border-radius: 0.75rem;
    background-color: royalblue;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.payer__montant {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 100%;
}

.reste__payer {
    text-align: center;
    font-weight: bold;
}

.euro-symbol {
    margin-left: 5px;
    font-size: 1rem;
}